.well {
	margin-bottom: 0;
}

.well > label {
	position: absolute;
}

label.title {
	padding: 0.25em 0.5em;
	border-bottom: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	border-bottom-right-radius: 4px;
	margin-top: -19px;
	margin-left: -19px;
	background-color: rgba(245, 245, 245, 0.6);
}

label.title.margin-reset {
	margin: 0;
}
.scroll {
	overflow: auto;
	height: 100%;
}

.center-502 {
	width: 502px;
	margin: 0 auto;
}


#menu-well {
	position: absolute;
	top: 60px;
	bottom: 2%;
	left: 1%;
	right: 85%;
	padding-right: 0;
	padding-bottom: 0;
}

#menu-well > .scroll {
	padding-right: 10px;
}

.nav > li > button {
	padding: 2px;
	margin-bottom: 2px;
}

#viewports {
	position: absolute;
	top: 60px;
	bottom: 2%;
	left: 16%;
	right: 25%;
}

.renderers .well {
	height: 49.5%;

	margin: 0;
	padding: 0;
}

.renderers .well:nth-of-type(1) {
	margin-bottom: 1%;
}

#viewer {
	width: 502px;
	height: 502px;
	border: 1px solid #bbb;
}

#snapshot {
	width: 502px;
	height: 502px;
}

#scripting-well {
	position: absolute;
	top: 60px;
	bottom: 2%;
	right: 1%;
	left: 76%;
}

.controls {
	padding-top: 15px;
}